[2017-01-09 07:52] austingg opened #9 "sh installer.sh failed"
hi, guys
I am trying to test the tutorial. However, when i run `sh installer.sh`, an error ocurred
[code]
System Version: CentOS 7.1

[2017-01-09 07:57] zihaolucky commented on #9
Seems https://github.com/dmlc/tensorboard/blob/master/installer.sh#L18 do the trick. I forgot to change this with `tools/pip_package/build_pip_package.sh`

[2017-01-09 09:38] austingg commented on #9
Thanks a lot.
you have copyed 'tools' directory rescursively, so the path should be inserted a 'tools'.
After I did that, the whl is built successfully. However, when i run the mnist tutorial, it says `no module named src.summary_pb2` when importing tensorboard summary

[2017-01-09 10:39] zihaolucky commented on #9
Could you please list your dir and files under `python/tensorboard` and `python/tensorboard/src`?

I would try to reproduce this.

[2017-01-09 11:15] zihaolucky commented on #9
[code]

The installer works fine in my Mac. I would test this in Linux later.

[2017-01-09 11:18] austingg commented on #9
yes , these are src/summary_pb2.py, in the python/tensorboard/src.
I have done a clean-up build, and successed to install the tensorboard.
Thanks a lot.

[2017-01-09 11:19] zihaolucky commented on #9
Yep, congrats!

[2017-01-09 11:21] zihaolucky commented on #9
@austingg To ensure again, are you successfully install tensorboard with the `installer.sh`, without any other work? I mean, the script is correct.

[2017-01-09 11:49] zihaolucky opened #10 "Merge into MXNet"
@piiswrong

Any works/advice to do before we merge this into MXNet? I was going to write a script to auto-build the wheel file using Travis-CI and user could install TensorBoard simply using `pip install tensorboard`, just like TF does. Otherwise, the user has to install bazel and it makes MXNet's installation too heavy?

[2017-01-09 11:57] austingg commented on #9
No, I fixed the bazel-bin/tensorflow/tools/**tools**/pip-xxxxxxxxx with **tools** inserted.
besides, there is no train_model_monitor.py in the doc/tutorial/ directory. Seems it is unnecessary.

[2017-01-09 12:05] zihaolucky commented on #9
Could you submit a PR to fix this? But it's weird it works fine on Mac.

[2017-01-09 12:11] austingg commented on #9
I found it maybe caused by the tiny difference of `cp -r` between Mac and CentOS. I have tested on Mac, the `cp -r tools/` just copy the subdirectory of tools/, while on CentOS, it copys the tools as well

[2017-01-09 12:18] austingg commented on #9
we can fix that like
` cp -r tools/* ......`
both works on Mac and CentOS, you may have a try.

[2017-01-09 12:32] zihaolucky commented on #9
@austingg Yes, thank you~

[2017-01-09 14:36] #9 closed

[2017-01-21 05:21] piiswrong commented on #10
Have you figured out how to do this? Would be great if this works.

[2017-01-23 21:20] n1ckelman opened #13 "Problems with building pip package"
Hello,
when I'm building tensorboard as pip package pip package, I receive:
`build_pip_package.sh: 20: build_pip_package.sh: Syntax error: "(" unexpected`

OS: Ubuntu 16.04
Python 2.7

[2017-01-23 21:30] #13 closed

[2017-01-24 02:07] zihaolucky commented on #13
@n1ckelman Could you verify the problem? Any `Syntax error`?

[2017-01-25 01:59] dmitriy-serdyuk opened #14 "Simple usage example"
Hi, thanks for a very nice work!

After looking for some time at your project I realized that it is completely independent from either Tensorflow or Mxnet, one can use it with Theano (like in my case), Pytorch or even standalone python scripts.

I propose to add an example which demonstrates how to use it in the simplest way, something like:
[code]

Let me know what you think, I can create a PR.

[2017-01-25 03:29] zihaolucky commented on #14
Hi @dmitriy-serdyuk

Yes, it's a standalone version of TensorBoard and could be used in general visualization purpose.

You're welcomed to contribute more examples/tutorials, we put the materials under `tensorboard/docs/tutorial/`. I've written a tutorial *understanding-vanish-gradient* [here](https://github.com/dmlc/tensorboard/blob/master/docs/tutorial/understanding-vanish-gradient.ipynb) Or you

[2017-02-04 09:50] kernel8liang opened #15 "cannot import name event_pb2"
get an import error.

[code]

[2017-02-05 00:40] zihaolucky commented on #15
Did you compiled the protos and installed the Python package successfully? Please provide more info for me to reproduce.

[2017-02-06 06:20] kernel8liang commented on #15
check around, found that files in ```tensorboard/python/tensorboard/src``` isn't copied to the site-packages/tensorboard. Manually copy these files, it works.

[2017-02-06 07:26] kernel8liang opened #16 "No script named 'tensorboard'"
after collecting logs, run command ```tensorboard --logdir=logs/```, get error below:

[code]

[2017-02-06 07:33] kernel8liang commented on #16
directly run command ```lib/python2.7/site-packages/tensorboard/tensorboard```, it works.

[2017-02-06 08:30] zihaolucky commented on #15
@kernel8liang thanks for the feedback, let me check.

[2017-02-06 08:33] zihaolucky commented on #15
could you tell me your system?

[2017-02-06 09:40] zihaolucky commented on #16
What's the output of `which tensorboard`, seems I've met this before, if the `tensorboard` binary exists, then the problem is the corresponding file path.

Could you help enhancing the script by create a PR after we solve these issues? Thank you!

[2017-02-06 09:55] zihaolucky commented on #15
do you install the package directly under the default python path?

[2017-02-06 14:24] zihaolucky commented on #16
Open the `tensorboard` binary using vim or PyCharm, you might find:

[code]

The path should be same as the one in `tensorflow/tools/python_bin_path.sh`, and your default Python path.

[2017-02-13 05:57] zihaolucky commented on #10
@piiswrong @szha

I followed the script as the one in mxnet-distro, but bazel build for tensorboard is too slow, https://travis-ci.org/zihaolucky/tensorboard/jobs/200914155#L3193-L3214

Any ideas? I found the build time for mac must be less than 50mins, or it would be terminated.

[2017-02-13 06:16] zihaolucky commented on #10
I've tried to change the bazel config(`ram_utilization_factor` or `local_resources`) for speedup, but didn't work.

[2017-02-13 06:18] piiswrong commented on #10
It's compiling tensorflow ops. Can you make it only compile tensorboard? Try modifying bazel config file?

[2017-02-13 06:37] zihaolucky commented on #10
Good idea, I would try.

I compared the difference between building tensorboard and entire tensorflow when I first noticed this, the number of jobs is different, yet I supposed these are necessary but not trying to modifying the config file ><

[2017-02-13 08:22] zihaolucky commented on #10
I think it might work, as we've replaced the logging part, the tensorflow ops could be removed.

[2017-02-14 15:23] zihaolucky commented on #10
I used [snakefood](http://furius.ca/snakefood/) to analyze the dependencies of the rendering part:

[code]

And found the unnecessary tensorflow ops are imported from several files(`tensorflow/tensorflow/python/summary/event_accumulator.py`, etc), while the methods it uses doesn't require tensorflow ops so it's possible to replace them.  Another work is to change the bazel config/BUILD and make su

[2017-02-14 15:29] zihaolucky commented on #10
If we use Jenkins, I have to setup a machine and envs to do that. But the TF has provided reusable scripts.

[2017-02-19 05:42] zihaolucky commented on #10
@piiswrong Could you help check https://travis-ci.org/zihaolucky/tensorboard/jobs/203088383#L645? It's okay in mac, but always failed in linux.

[code]

[2017-02-19 08:47] piiswrong commented on #10
ill take a look later.
we can make a private repo for distribution so you don't need to hack compile time

[2017-02-19 12:41] zihaolucky commented on #10
Thanks! To hack the compile time limited in Travis, I have to remove some dependencies in its bazel config. I think it's okay if that won't cause any unexpected error/bug in the future, but technically it shouldn't happen as we only remove the unnecessary ops which tensorboard won't use.

So I would like to keep the Travis way currently(for simplicity) and focus on the logging part, as we have `gr

[2017-02-23 00:36] themummy opened #17 "Unrecognized syntax identifier "proto3". This parser only recognizes "proto2" while running installer.sh"
ubuntu@ip-172-31-38-221:~/git/tensorboard$ sh installer.sh
protoc tensorboard/src/*.proto --python_out=python/
tensorboard/src/event.proto:1:10: Unrecognized syntax identifier "proto3".  This parser only recognizes "proto2".
make: *** [python/tensorboard/proto] Error 1

[2017-02-23 01:42] zihaolucky commented on #17
You should use proto3. I guess your current protoc is version2.

[2017-02-23 08:35] luoyetx commented on #13
I meet the same on Ubuntu 16.04 with Python2.7. By replace
[code]
to
[code]
in `install.sh` solve the problem. Basically, `sh` is linked to `dash` on Ubuntu, it seems different from `bash`.

More detail can be found [here](http://askubuntu.com/questions/141928/what-is-difference-between-bin-sh-and-bin-bash) and [here](http://unix.stackexchange.com/questions/73750/difference-between-function-foo-an

[2017-02-23 09:37] zihaolucky commented on #13
@luoyetx thank you! So changing `sh` to `bash` could work in `mac` and `linux` both? If so, we should update the script.

[2017-02-23 10:24] luoyetx commented on #13
@zihaolucky I think it works as long as we use `bash`. I find the script file already uses `#!/usr/bin/env bash`, and it is executable, directly run `./bazel-bin/tensorflow/tools/pip_package/build_pip_package.sh ../python/dist/`  should be more convenient.

[2017-02-23 11:28] zihaolucky commented on #13
Good point, I would fix it, thank you.

[2017-02-23 13:21] #17 closed

[2017-03-02 13:15] zihaolucky opened #19 "Call for PyPI (pip) installation pre-release Test"
Hi TensorBoard fans,

The PyPI [TensorBoard](https://pypi.python.org/pypi/tensorboard) is available in both macos and linux varients.

Just try

[code]

We now support `scalar`, `histogram` and `image` and we're working on more types and even embedding later.

[tensorboard-distro](https://github.com/zihaolucky/tensorboard-distro) repo for PyPI version.

@piiswrong @kernel8liang @austingg @luoyetx

[2017-03-03 03:25] luoyetx commented on #19
@zihaolucky Many thanks to the package. I test the package (install by pip) on CentOS7 and Ubuntu16.04 with Python2.7. It's pretty good. I also run the scripts under `tests/python`. They works fine. I take some images from tensorboard with logdir is experiment. I suppose the result is correct.

SCALARS
![scalar](https://cloud.githubusercontent.com/assets/2768843/23536933/868db428-0003-11e7-83f4-9a

[2017-03-03 03:29] zihaolucky commented on #19
Thank you for your feedback! @luoyetx

[2017-03-03 18:58] VoVAllen opened #20 "Is it possible to bring this as a general component for all DL framework?"
Just like https://github.com/TeamHG-Memex/tensorboard_logger/tree/master/tensorboard_logger

[2017-03-04 01:25] zihaolucky commented on #20
Yes, it's not MXNet or TensorFlow dependent.

[2017-03-04 01:30] zihaolucky commented on #20
The tf_logger requires TensorFlow as it doesn't have rendering part.

[2017-03-04 01:32] zihaolucky commented on #15
Please try the latest PyPI installation.

[2017-03-04 01:32] #15 closed

[2017-03-04 01:33] #16 closed

[2017-03-04 03:26] zihaolucky commented on #10
@piiswrong Now we have PyPI, how about add tensorboard as default requirements for MXNet Python package?

Any work I should do?
 * More docs about tensorboard.
 * Any changes in MXNet?

[2017-03-04 03:56] piiswrong commented on #10
we can add some callbacks in mxnet.
Let's start with optional import and see if anyone have trouble installing

[2017-03-04 04:54] zihaolucky commented on #10
Yep.

[2017-03-04 18:30] VoVAllen commented on #20
Thanks for your work! I just think it's a widely needed component for all DL framework. It's really a meaningful work!

[2017-03-05 11:30] zihaolucky commented on #14
Just re-open if you need, close for now.

[2017-03-05 11:30] #14 closed

[2017-03-06 11:09] ahmedezzateasa commented on #19
Is there any plans to add windows support?

[2017-03-06 12:59] zihaolucky commented on #19
@ahmedezzateasa thanks for your feedback, I'm not familiar with this, is it possible to build PyPI installer in windows? @piiswrong @szha

@ahmedezzateasa BTW, have you try the `installer.sh` script? Does it work?

[2017-03-06 13:08] ahmedezzateasa commented on #19
@zihaolucky  Thanks for your fast response.
I am not expert at building python packages for PyPI.
I am asking if there will be a python wheel for windows in the future (besides mac and linux)?
I am using mxnet on windows and I would like to use tensorboard with it (if it would be possible).
Previously, I tried building from source, but I stucked at bazel building for tensorboard (on windows) and I

[2017-03-06 13:18] austingg commented on #19
on Windows, anaconda is usually used for installing python packages.

[2017-03-06 13:21] ahmedezzateasa commented on #19
@austingg I am actually using anaconda. But, when a package is not found in conda, pip install works.

[2017-03-06 13:25] zihaolucky commented on #19
@ahmedezzateasa If the installer script works in windows, I think it might be possible to make a PyPI for windows. So I encourage you to fix the bazel issue and I'd love to help you, though I'm not a windows user.

[2017-03-06 13:28] ahmedezzateasa commented on #19
@zihaolucky OK.
Thanks.

[2017-03-06 13:29] zihaolucky commented on #19
@ahmedezzateasa I guess the tensorflow/tensorboard works in windows, so technically the standalone version we provide could work. But I haven't tested the script in windows yet.

[2017-03-06 13:35] zihaolucky opened #23 "Windows PyPI support and installer script test"
As we have Win users, I'm going to:

 * Test the `installer.sh` script under Windows.
 * Try to build PyPI for Windows.

As I haven't used windows for a while, it might take some time. Anyone could help and contribute in this direction?

[2017-03-06 13:37] zihaolucky commented on #23
@ahmedezzateasa Just follow this issue and we're looking for your feedback.

[2017-03-11 04:32] an-kumar commented on #19
pip install tensorboard does not work for me on Mac OS

pip install tensorboard
Collecting tensorboard
  Could not find a version that satisfies the requirement tensorboard (from versions: )
No matching distribution found for tensorboard

[2017-03-11 05:07] zihaolucky commented on #19
@an-kumar please tell me the version of your os, xcode and python.

[2017-03-11 20:47] an-kumar commented on #19
uname -a:
Darwin 14.0.0 Darwin Kernel Version 14.0.0: Fri Sep 19 00:26:44 PDT 2014; root:xnu-2782.1.97~2/RELEASE_X86_64 x86_64

xcodebuild -version:
Xcode 6.4
Build version 6E35b

python version:
2.7.11

also tried with python version:
3.6

[2017-03-11 20:51] szha commented on #19
@an-kumar Currently there are only versions for OSX10.11-10.12

[2017-03-27 08:32] ahmedezzateasa commented on #23
I an successfully run the installer.sh on Windows 10.
## System Description
Windows 10 x64
Visual Studio Community 2015
Anaconda 2 (for python 2.7)
bazel 0.4.5
MSYS 2

## Build Steps
I followed the steps in [README](https://github.com/dmlc/tensorboard/blob/master/README.md) . These are the steps with some Details:

### Install Protocol Buffer 3
1. Download the windows version (the latest is protoc

[2017-03-27 08:46] ahmedezzateasa commented on #23
One more thing. When I run python setup.py, the tensorboard/src directory is not copied to the python package installation directory. It must be manually copied.
The tensorboard binary is nice. no patches are required (maybe the latest tensorflow head fixes windows issues with tensorboard)

[2017-03-27 08:49] ahmedezzateasa commented on #23
I uploaded my changes to this fork --> https://github.com/ahmedezzateasa/tensorboard

[2017-03-27 08:55] zihaolucky commented on #23
@ahmedezzateasa Great! How about creating a PR, I believe this would help Windows users. Besides, you can also change the README.

[2017-03-27 23:15] jmerkow commented on #19
Can you provide source code for this?  I am attempting to use this with the image_classification examples and I don't get graphs as one would expect.

I used the pypi to install tensorboard:

I added/changed this to common/fit.py in image classification to get a dummy test running.
(FYI there is an error in the doc string for LogMetricsCallback, mx.tensorboard should be mx.contrib.tensorboard. [li

[2017-03-27 23:18] jmerkow commented on #19
I am having issues.  Please see my comment on your [PR](https://github.com/dmlc/mxnet/pull/5345).

[2017-03-28 14:38] zihaolucky commented on #10
Merged in [mxnet.contrib.tensorboard](https://github.com/dmlc/mxnet/blob/master/python/mxnet/contrib/tensorboard.py)

[2017-03-28 14:38] #10 closed

[2017-04-06 11:51] chaonan99 opened #30 "Issue when both python2 and python3 installed"
I've encountered a issue when both python2 and 3 are installed on the same machine but tensorboard is installed via python3. (Typically python2 is called via `python` and python3 via `python3` in this situation.) But `FindPythonBinary` function won't realize that now. Currently I just hacked into the script and force it to search python3, but I believe there is a better way.

Error message below:

[2017-04-06 12:06] zihaolucky commented on #30
Do you build from source or via PyPI?

[2017-04-06 12:11] chaonan99 commented on #30
via PyPI

[2017-04-06 12:23] zihaolucky commented on #30
@chaonan99 Thanks for the feedback.

If we build from source, the `.configure` might set up properly.

[code]

When in PyPI, as we use machines from Travis, the `PYTHON_BINARY` is from that machine. So I handle this issue in `tensorboard-distro` https://github.com/zihaolucky/tensorboard-distro/blob/master/tools/travis_wheel/python-binary-and-runfiles.patch#L17-L23

[code]

[2017-04-06 12:28] zihaolucky commented on #30
I guess the `return SearchPath('python')` might do the trick, could you have a try? Just hack the compiled `tensorboard` from PyPI.

[2017-04-19 18:36] hanzhanggit opened #31 "StringIO issue when using python2"
In the summary.py

"from six import StringIO" is not working for python 2.7.
So I got this error,
File "/home/hz138/anaconda2/lib/python2.7/site-packages/tensorboard/summary.py", line 186, in make_image
    output = StringIO.StringIO()
AttributeError: class StringIO has no attribute 'StringIO'

[2017-04-20 02:01] zihaolucky commented on #31
Could you try change the `output = StringIO.StringIO()` to `output = StringIO()`?

[2017-04-21 02:49] zihaolucky commented on #31
@hanzhanggit Do you install from source or via PyPI?

[2017-04-21 20:35] hanzhanggit commented on #31
I install from using the following command:
pip install tensorboard.
I have changed the source to be import StringIO instead of from six import StringIO to solve it locally(it might just work for python 2.7). But I think it is better to report this issue to fix it in the master branch.

[2017-04-22 01:58] zihaolucky commented on #31
Agree. `six` is for both Python2 and Python3 compatible.

[2017-04-22 04:07] hanzhanggit commented on #31
But if you want to keep using six for StringIO, at least we need to change the following line.
output = StringIO.StringIO().
I just want to point out that currently the code does not work for python 2.7.

[2017-04-22 05:14] zihaolucky commented on #31
let me make a fix later today. thank you.

[2017-04-22 12:54] #31 closed

[2017-04-27 03:04] tienhv opened #33 "Overwritten tensorboard of tensorflow"
I installed this and it overwrote the tensorboard of tensorflow, could you rename it or do something to avoid this issues?

[2017-04-27 05:22] zihaolucky commented on #33
You could install it in another env.

[2017-04-27 05:42] #33 closed

[2017-04-30 14:19] zihaolucky commented on #30
@chaonan99 I've fixed the `tensorboard-binary.patch` where we bring a bug in https://github.com/dmlc/tensorboard/pull/29, also the PyPI has been update to `1.0.0a7` for #29 and #32

I would make a new PR for this issue later.

[2017-05-04 03:13] hehaodele opened #36 "There might be a bug for users installing tensorboard via anaconda"
I am using Anaconda as my python environment. To install tensorboard, I simply followed the instruction
[code]
However when I run

[code]
I get
[code]
Then I come to stackoverflow, find very useful information on (http://stackoverflow.com/questions/42600499/tensorboard-cannot-find-runfiles-directory-error/43174814)

By the recommandation there, I run
[code]
which returns,
[code]

Then I come to th

[2017-05-04 12:36] jeansely opened #37 "add a image with summary for showing in tensorboard"
Hi,
for add a image to graph for showing in tensorboard , i used below code. but the tensorflow error that :"TypeError: Parameter to MergeFrom() must be instance of same class: expected Summary got Tensor. for field Event.summary"

the code :
<< writer =tf.summary.FileWriter('C:\Program Files\python3.5\logs',graph=tf.get_default_graph())
<v
<<tf.Tensor 'Slice_2:0' shape=(1, 152, 138, 1) dtype=floa

[2017-05-04 14:35] jeansely commented on #37
i have to eval the imgsumarry tensor to get a string first.

[2017-05-04 14:35] #37 closed

[2017-05-04 15:36] zihaolucky commented on #36
You just need `pip install tensorboard`. The error here is the indent you've pointed out, sorry.

I would fix this bug later and rebuild the PyPI. Thank you.

[2017-05-05 11:26] hehaodele commented on #36
Right. Thanks.

[2017-05-05 19:14] taolei87 opened #38 "problem with installing tensorboard via virtualenv"
Hi, this is a nice project and I'm trying to use it.

The issue I'm experiencing is probably related to #36.

After I did `pip install tensorboard` in a virtual enviroment, tensorboard failed to launch. I got the following error:
[code]

I tried to google about it and found that this is due to a open bug with Python 2.7 and vistualenv. See this:
[Python 2.7 isn't compatible with site.py. ](https:/

[2017-05-06 01:43] zihaolucky commented on #38
@taolei87 It's a known bug, I would fix it later. You could check here for temporary solution https://github.com/dmlc/tensorboard/issues/36.

[2017-05-07 03:38] taolei87 commented on #38
@zihaolucky What's the temporary solution?  I'm not using anaconda, but virtualenv in Mac OS.
The error happens when the script calls `site.getsitepackages()`.

Perhaps a different version of tensorboard should be installed?

[2017-05-07 05:26] zihaolucky commented on #38
@taolei87 Sorry for my misunderstand this issue with the one in #36

Seems it's a problem of virtual env and python2.7, so it might be hard to provide a solution for virtual env users quickly, but here's a possible solution for this https://github.com/QQuick/Transcrypt/issues/13.

BTW, the `site.getsitepackages()` here is a trick to find the `/tensorboard/tensorboard.runfiles`, so I think if you c

[2017-05-07 05:29] zihaolucky commented on #36
Having some troubles in applying the patch in travis when updating the release for PyPI 😂 please give me some time to solve it.

[2017-05-08 14:36] taolei87 commented on #38
@zihaolucky directly returning the .runfiles worked. thanks a lot!

[2017-05-08 15:17] zihaolucky commented on #38
Glad to help, if you have a better solution for both VirtualEnv and Anaconda, just submit a PR.

[2017-05-08 15:17] #38 closed

[2017-05-11 08:13] JONGGON commented on #36
If 'tensorboard' does not work, you can change it.

![1](https://cloud.githubusercontent.com/assets/24702070/25939236/18206260-366d-11e7-84b5-139c709aa1f1.png)

[2017-05-12 11:52] bermanmaxim commented on #36
I ran into this bug installing tensorboard through pip, python 2.7, linux: I get this around line 79 of the tensorboard script:

[code]

This should be fixed to the correct indentation:
[code]

This issue seems present in the [.whl version 1.0.0a7](https://pypi.python.org/pypi/tensorboard/1.0.0a7);  version 1.0.0a6 does not have this problem.

[2017-05-14 23:28] cheyang opened #39 "Can tensorboard support loading event logs from HDFS?"
I found tensorboard is an awesome tool, and also used it to analyze the events generated by tensorflow. Now I'd like to analyze the events in the HDFS. Can we support this? Thanks.

[2017-05-15 05:50] zihaolucky commented on #39
Thanks for the idea, but what's the use case? Does it mean we could remote logging and rendering?

The event file is relatively small as we haven't support graph visualization and embedding, so it might be useful if the event file becomes super large if we support embedding later.

[2017-05-15 12:14] cheyang commented on #39
The scenario is for `tf.contrib.learn` which is the high level API. In this case, when we set model_dir as "hdfs://namenode:9000/data", the event logs are stored in HDFS which we need to run tensorboard to load.
[code]

[2017-05-15 15:14] zihaolucky commented on #39
Interesting, let me do some research on this. The `NDArray` of MXNet could also be stored in s3 or HDFS, may be a good material for me to start.

[2017-05-22 21:55] wangg12 commented on #33
Well，I don't think this is a good idea to break the tf's tb. Renamining maybe better.

[2017-05-23 03:25] zihaolucky commented on #33
@tienhv @wangg12 I'm sorry to bring this inconvenience.

We create this repo for those who want to use TensorBoard without TensorFlow, so we rewrite the logging part, it's a general and DL framework independent. The major work of this project is in this part, such as more types of summary.

For better maintenance, the rendering part remains almost same with the origin one so I can use bazel, reuse

[2017-05-30 14:37] botev opened #40 "How to install the tensorboard server?"
Hi,

I was assuming that when I've installed through PyPI the tensorboard it will also install the tensorboard server app. However, is this correct? Currently I get:
[code]
This is on Ubuntu 16.04 with Anaconda 4.2.13 and python 3.6

[2017-05-30 15:27] zihaolucky commented on #40
Yes, but the latest version `1.0.0a7` is broken, I've remote this release and now `1.0.0a6` should be okay. Could you try again? `pip uninstall tensorboard` then `pip install tensorboard`

[2017-05-30 19:36] botev commented on #40
That almost fixed it you have a few issues with python3:

1. In `tensorboard/summary.py` line 39 change `impoet StringIO` to `from io import StringIO`
2. In `tensorboard/event_file_writer.py` line 69 change `file_prefix` to `file_prefix.decode()`

You might actually want to do these with actual checks of the python versions.

[2017-05-31 09:41] ShuLongShiWo commented on #19
i have successfully installed tensorboard, but when i run tensorboard.py.

:python tensorflow/tensorflow/tensorboard/tensorboard.py --logdir=path/to/log-directory

Traceback (most recent call last):
  File "tensorflow/tensorflow/tensorboard/tensorboard.py", line 36, in <module>
    from tensorflow.tensorboard.plugins.text import text_plugin
ImportError: No module named text
no text module? can you

[2017-05-31 11:20] botev opened #41 "Merge?"
Do you guys have plans on implementing the merge summaries bit?

[2017-06-01 04:51] bradkyle opened #42 "Error after installation via pip"
I have recently attempted to install [tensorboard](https://github.com/dmlc/tensorboard/) via pip as detailed in the README.md. The installation was deemed successful however when I try to run tensorboard after the installation, I keep on recieving an undefined symbol error as seen below.
[code]
`
Have I missed something in the installation process?
What can I do to fix this?

Thanks

[2017-06-01 06:09] zihaolucky commented on #42
Could you tell me the version? Is it `1.0.0a6` or `1.0.0a7`? In general it's already usable after `pip install tensorboard`

[2017-06-01 06:50] bradkyle commented on #42
Hi, thanks for the response.
I am using Version: 1.0.0a6
Let me know if there is anything else you need.

[2017-06-02 02:19] zihaolucky commented on #42
@bradkyle Could you try to build from source?  Seems the wrapper doesn't build correctly in Python3.5 `python/_pywrap_tensorflow.so: undefined symbol: PyBytes_AsStringAndSize`

[2017-06-04 02:15] #40 closed

[2017-06-05 06:12] kingson999 commented on #19
when can  i install on windows machine ?

[2017-06-05 06:57] zihaolucky commented on #19
Dear TensorBoard fans,

We're currently working with a member of the TensorBoard dev team, try to make this project more robust and maintainable, also trying to push the direction to a pure standalone tool. It might take some time.

[2017-06-07 12:52] Shiro-mx opened #44 "Error mx.tensorboard"
Hello,

I have an error I do not succeed to solve.

[code]
I installed tensorboard with pip and it seems to work when I call tensor board alone. But when I want to use it with mxnet, it gives me this error. Does someone have an idea to solve this problem ?

Thanks for the help !

[2017-06-07 13:03] zihaolucky commented on #44
The tensorboard plugin is in https://github.com/dmlc/mxnet/blob/master/python/mxnet/contrib/tensorboard.py. You may want to use `mx.contrib.tensorboard`.

[2017-06-07 13:15] Shiro-mx commented on #44
it works well, thank you !

[2017-06-07 13:47] #44 closed

[2017-06-14 00:17] nathanin commented on #38
Before this I had no idea what .runfiles were.

For others like me who may find this issue, I inserted the path: `~/Envs/tensorflow/lib/python2.7/site-packages/tensorboard/tensorboard.runfiles` and it appears to work.

[2017-06-14 16:43] tdomhan opened #45 "PyPI tensorboard-1.0.0a6 version not available for Python 3.6 on Linux (only for Python 3.5)"
Hi!
we noticed that when installing tensorboard through pip there is no version 1.0.0a6 for python 3.6 on Linux (there is only a version of Mac Os X). It would be great if you could upload a manylinux version for python 3.6 as well.

Thanks in advance,
Tobi

[2017-06-15 15:39] ShownX opened #46 "All values are at 0 epoch"
Hello,

I just use ```mx.contrib.tensorboard.LogMetricsCallback()``` in the ```model.fit(batch_end_callback=..., eval_batch_end_call_back=...)```

It generates the log file, but when I run ```tensorboard --logdir=...```,

it generates a figure like follows:

![screen shot 2017-06-15 at 11 33 59 am](https://user-images.githubusercontent.com/9678100/27189424-4c6ae67c-51bf-11e7-8592-c6021d80b957.png)

[2017-06-16 01:41] zihaolucky commented on #46
Try `relative` mode on the left.

[2017-06-16 07:20] zihaolucky commented on #46
@ShownX As I haven't add `step` params in `scalar`, so you have to select the `relative` mode of TensorBoard.

<img width="333" alt="2017-06-16 3 18 42" src="https://user-images.githubusercontent.com/4514568/27216171-2059ce16-52a7-11e7-85fd-0b973e2a053f.png">

[2017-06-16 13:40] ShownX commented on #46
Thank you very much!

[2017-06-16 13:40] #46 closed

[2017-06-17 14:26] jowettcz commented on #38
@zihaolucky  @nathanin thanks for you reminder. I also fixed the problem by show the  exact location of tensorboard.runfiles.

[2017-06-19 11:52] tdomhan commented on #45
any updates on this issue? :)

[2017-06-19 12:57] zihaolucky commented on #45
@tdomhan I restart the travis job here https://travis-ci.org/zihaolucky/tensorboard-distro/jobs/211231491

[2017-06-19 13:40] tdomhan commented on #45
great thanks!

[2017-06-19 14:35] zihaolucky commented on #45
@tdomhan It's ok now. Have a nice day.

[2017-06-20 00:57] #45 closed

[2017-06-21 06:03] Vogen opened #47 "Can I build tensorboard with Protobuf 2.6.1?"

[2017-06-21 08:32] zihaolucky commented on #47
Nope, I think you have to install the version greater than the one in requirement, or it could be wrong while running bazel. Or you might want to install via PyPI then you can walk-around this issue.

[2017-06-23 02:25] zihaolucky commented on #47
@Vogen New Protobuf could be easily installed, this one might help: https://github.com/zihaolucky/tensorboard-distro/blob/master/.travis.yml#L121-L156

[2017-06-23 05:41] jihunchoi opened #48 "Unable to build with sources"
Hi, I am really enjoy using the standalone tensorboard tool!
However, I found that the latest master branch of the tensorflow library does not contain "tensorflow/tensorboard", thus when I run "installer.sh", it fails to compile.

~~Since the master branch is quite unstable and prone to change, I suggest that cloning a specific stable version of tensorflow instead of the latest version.
Say the st

[2017-06-23 06:55] Vogen commented on #47
Thanks a lot!~

[2017-06-23 07:51] zihaolucky commented on #48
@jihunchoi Thanks for your report. Please refer the code here https://github.com/zihaolucky/tensorboard-distro/blob/master/travis_installer.sh#L14-L18 to resolve your issue.

I'm going to change the backend to tensorflow/tensorboard and change our project name to `tensorboard-lite` once we finish the refactor, the interface won't change.

[2017-06-28 09:54] my777777 commented on #19
"pip install tensorboard" dosn't work for me ? ubuntu 14.04 and python2.7

Downloading/unpacking tensorboard
  Could not find any downloads that satisfy the requirement tensorboard
Cleaning up...
No distributions at all found for tensorboard

[2017-06-28 15:21] my777777 opened #49 "sh installer.sh failed(ERROR: no such package 'tensorflow/tensorboard': BUILD file not found on package path.)"
ubuntu14.04

I follow the readme to install tensorboard for mxnet, after I run "sh installer.sh", I get an error:
**ERROR: no such package 'tensorflow/tensorboard': BUILD file not found on package path.
INFO: Elapsed time: 0.339s
cp: cannot create directory ‘bazel-bin/tensorflow/tools/’: No such file or directory
bash: bazel-bin/tensorflow/tools/pip_package/build_pip_package.sh: No such file or di

[2017-06-28 15:43] my777777 commented on #49
oh, I find the reason, the master branch doesn't contain 'tensorflow/tensorboard', and then I switch to branch r1.2, but the cp error still exists.

[2017-06-28 16:23] my777777 commented on #49
oh, I find the master branch of tensorflow doesn't contain "tensorflow/tensorboard", so I switch to the branch r1.2, and then the error disappear. But another error emerges..
**INFO: Elapsed time: 387.957s, Critical Path: 221.53s
2017年 06月 29日 星期四 00:08:13 CST : === Using tmpdir: ../python/tensorboard/
Really old (0.2.1-) runfiles, without workspace name
~/tensorboard/python/tensorboard ~/tensorbo

[2017-06-29 02:04] zihaolucky commented on #49
@my777777 Please refer the code here https://github.com/zihaolucky/tensorboard-distro/blob/master/travis_installer.sh#L14-L18 to resolve your issue.

I'm going to change the backend to tensorflow/tensorboard and change our project name to tensorboard-lite once we finish the refactor, the interface won't change. Might finish the work in this week.

[2017-06-29 14:19] my777777 commented on #49
@zihaolucky get it.. But there is still a problem, when run `bazel-bin/tensorflow/tools/pip_package/build_pip_package.sh ../python/dist/`, I get a "git apply" error:

error: patch failed: python/tensorboard/tensorboard:7
error: python/tensorboard/tensorboard: patch does not apply

Then I find the error  appears on line 115 in "tensorboard/tensorflow/bazel-bin/tensorflow/tools/pip_package/build_pip

[2017-06-29 18:21] zihaolucky opened #50 "The PyPI package is no longer maintain due to some reasons"
All our users,

Glad to create and maintain this project, and happy to know people love it. From the stat, I see every day hundreds of people visiting this repo and using this work. We've also made a PyPI for you, packing all the need for convenience. Many users have involved in this project, contribute your code and report issues.

But I regret to tell you we've just lost the PyPI repo a few minu

[2017-06-29 19:46] phunterlau commented on #50
Big thanks to Zihao for the extraordinary work of this standalone tensorboard project. I have used this tool in my research and I feel very happy with it. I know many other teams and companies are using it too, and, well, they might feel upset losing it. I see the true spirit of open source from this project: making it open and benefit more people.

I feel very sad that Google took the repo just f

[2017-06-30 03:14] Lyken17 commented on #50
In my understanding, Google team first develops `tensorboard` to ease the visualization of tensorflow. Because of their API design, it is also possible for those non-tensorflow users to use this. I don't know why they didn't register tensorboard on PyPi at the beginning, but their request is reasonable, since they contribute much more to `tensorboard` project.

[2017-06-30 04:16] phunterlau commented on #50
@Lyken17 no, Google doesn't have any plan to merge the change for non-tensorflow compatibility, all they want is the PyPI repo, that is it, so they use their legal power to press on PSF and take the repo. I don't think it follows the open source way, ironically Google claims they welcome open source. It feels like Hooli in HBO's Slilicon Valley where Gavin Belson can take anything he wants.

[2017-07-02 22:07] Yangqing commented on #50
Would like to cc @rajatmonga FYI so we have a complete two-sided story.

Disclaimer: I am not a stakeholder. Am only told about this incident afterwards. Being friends with both dmlc and google, I hope things are / have been addressed in a friendly manner.

[2017-07-03 07:12] rajatmonga commented on #50
Thanks for adding me @Yangqing

We did build TensorBoard for TensorFlow users, however looking at all the usage across many different projects, we decided to separate it out into its own [project](https://github.com/tensorflow/tensorboard) so it would be easier to use for many more projects. Along with this change we would like to make it available directly on PyPi - again the goal is to make it a

[2017-07-04 03:43] szha commented on #50
@rajatmonga thanks for the nice other-side-of-story. As a user of @zihaolucky 's standalone tensorboard, I'm very uncomfortable where this is going. Thanks to @zihaolucky, **I used to be able to use the visualization tools in tensorboard with other machine learning frameworks, such as mxnet, caffe2, and pytorch, without suffering the hunk of tensorflow dependency. Now I can't.** Great job "to make

[2017-07-04 14:22] zihaolucky commented on #50
@rajatmonga Thank you for your reply. Thank @szha and @Yangqing for bringing up the further discussion, the number of potential or actual users of this project might be more than I can imagine.

Dan has written me about this and we have a friendly discussion at the beginning, mostly on how he'll help this project move smoothly and their plan on developing TensorBoard, then I got his reply that the

[2017-07-04 14:55] hjk41 commented on #50
@rajatmonga Thanks for the explanation. But is there a schedule as to when tensorboard will support other framework?

As @zihaolucky has said, this incedent was easily avoidable, should google tensorboard team had shown some interest on merging the changes in this repo. Sadly, the damage had been done. So now it leaves us in doubt if you and you team is really interested in making Tensorboard avai

[2017-07-04 17:54] rajatmonga commented on #50
@hjk41 we are happy to accept contributions to the main TensorBoard repo to make it easier to use with other frameworks. The team is interested in collaboration, but that is hard if the other party stops responding.

Here are the steps we are taking to help:

1. PyPi today still contains the project by @zihaolucky.  It should be easy enough to put this project on another name repository on PyPi -

[2017-07-05 17:35] antinucleon commented on #50
As a previous open source committer, I always appreciate inspiring from each other. I think tensorboard is a trademark of Google, so surely Google should have right to take the PyPI. But as all of our goal is same: AI democracy, I believe we can achieve the goal in cooperate way. Looking forward to pushing forward the technology together and achieving AI democracy. @rajatmonga @Yangqing @zihaoluck

[2017-07-06 01:31] zihaolucky commented on #50
@antinucleon Agree.

[2017-07-24 00:59] #48 closed

[2017-07-24 01:59] zihaolucky commented on #48
@jihunchoi I've updated the script yesterday, can you build it from source now?

[2017-08-14 01:14] leezu commented on #36
This is not fixed in the current version on pypi but the master version in the github repository seems fine. Please update the version on pypi.

To fix the version that is currently on pypi (1.0.0a6) replace line 69
`    for mod in site.getsitepackages():`
with
`    for mod in site.getsitepackages() + [site.getusersitepackages()]:`

Otherwise the user site packages directory will not be checked an

[2017-08-17 14:15] petertulala opened #52 "ImportError: _pywrap_tensorflow.so: Symbol not found: _PyBytes_AsString"
I've tried to install tensorboard on Python 3.6 (macOS Sierra 10.12.6) both using `pip3 install tensorboard` or build from source. In both cases I'm getting this error:

[code]

Did I miss something?

[2017-08-22 15:40] botev opened #53 "Error from pip install"
Hi, so recently trying to install from `pip install` when I try running tensorboard from the command line I get:
[code]
Which version of numpy is used in the pypi package for tensorboard?

[2017-08-23 01:58] zihaolucky commented on #53
Seems we have some problems with Python3.6, there're some issues about this. Did you try another Python version?

[2017-08-23 06:58] botev commented on #53
Unfortunately, this anaconda is my only option as I'm on a department cluster. I also tried building from source, but since they have already changed the tensorflow repo that does not work either. Do you know which is the last working tag/commit from tensorflow for which I can build tensorboard with?

[2017-08-23 08:36] zihaolucky commented on #53
@botev I have fixed the backend and the install script. https://github.com/dmlc/tensorboard/blob/master/installer.sh#L9

[2017-08-23 14:58] botev commented on #53
Hmm, is there anything specific that I need to change during installation. When I run the build script after bazel I get:
[code]
and there does not seem to be an wheels in `python/dist`

[2017-08-23 15:08] zihaolucky commented on #53
Could you tell me how to reproduce this? I will look into this.

[2017-08-23 15:46] botev commented on #53
So I just cloned the repo. Than did this and the output is:
[code]
Where are the wheels suppose to be at the end of the bazel build?

[2017-08-24 02:16] zihaolucky commented on #53
Did the bazel build success? Let me try this in my env.

[2017-08-24 03:31] ZhaoxiaZhang commented on #23
@ahmedezzateasa I'm a Windows user.My current env is Windows 7 , python 3.6. I followed your step and it seems to install bazel, python 2.7 is installed too. However, when I run window_install.sh, It gave a lot of errors..

[2017-08-24 09:43] botev commented on #53
I think so because `tensorboard/python/tensorboard/tensorboard` is a working tensorboard which I can run. I guess there something fishy going with the wheels. If you don't get it its fine, since I can just modify the source and use that.

[2017-08-24 14:11] mahtorohit commented on #38
worked just fine, Just commented the runfiles search code by returning hardcoded path
env/bin/tensorboard/tensorboard.runfiles
[code]

[2017-08-24 15:02] zihaolucky commented on #52
It works fine in Python2.7, have you verified this?

[2017-08-24 15:03] zihaolucky commented on #53
I failed to reproduce this in Python2.7, let me try in Python3.6 later.

[2017-08-24 16:48] botev commented on #53
Sure if you need some more info let me know, just note that my python 3.6 is actually under anaconda. That should not matter, but I have experienced cases where it does.

[2017-08-29 14:19] Hskye commented on #42
Maybe you can try sudo pip install tensorflow.tensorboard.

[2017-08-29 22:51] skulhare commented on #42
Hi, I am facing the same issue.
@Hskye, I tried installing tensorflow.tensorboard but it throwing this error:
Exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pip/basecommand.py", line 209, in main
    status = self.run(options, args)
  File "/usr/lib/python3/dist-packages/pip/commands/install.py", line 335, in run
    prefix=options.prefix_path,
  File "/usr/li

[2017-08-29 23:12] huevosabio commented on #42
Hi all,
I'm facing the same issue.  Also, Python 3.5.

[2017-08-30 01:40] daxaxelrod commented on #42
Hi! Same issue here. Symbol not found: _PyBytes_AsString

[2017-08-30 02:20] SamaelChen commented on #52
Same error in Python3.5.

[2017-09-02 21:39] sam1902 commented on #52
Same error here, I installed tensorboard on Debian, I did a native install with pip3 and it never worked. This is the log error:
`Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/tensorboard/tensorboard.runfiles/org_tensorflow/tensorflow/tensorboard/tensorboard.py", line 32, in <module>
    from tensorflow.python.summary import event_file_inspector as efi
  File "/

[2017-09-06 18:38] Jfeng3 commented on #52
same error

[2017-09-16 17:19] renukemendis commented on #52
same error.
Is there a fix for this?

[2017-09-17 13:59] arorahardeep commented on #52
I am getting the same error on macOS Sierra 10.12.6, Python 3.5.1

[2017-09-17 19:22] jonbronson commented on #52
I am getting the same error. Is there any fix for this?

[2017-09-18 03:49] renukemendis commented on #52
I was able to get tensorflow-tensorboard working on Ubuntu 16.04 as well as OS X (Sierra), until tensorboard is officially supported with tensorflow 1.3:

Here's what I did:

Step 1: uninstall tensorflow

Step 2: install tensorflow-tensorboard

Step 3: verify installation

       tensorflow-gpu (1.3.0)
       tensorflow-tensorboard (0.1.6)

Step 4: Run tensoboard with your directory...

[2017-09-18 09:04] SamaelChen commented on #52
Hey guys, it is said that Google asked them stopping work on this project. So, this bug may not be fixed.

[2017-09-18 11:32] zihaolucky commented on #52
I recommend you guys try building it from source. It looks like something wrong during compile the backend, which we didn't change the code.

[2017-09-18 11:37] zihaolucky commented on #52
@SamaelChen We're stilling working in this project, trying to provide a framework independent TensorBoard. We just remove the PyPI and don't use the name `tensorboard` in PyPI anymore.

BTW, I'm trying another way to compile stand-alone TensorBoard based on tensorflow/tensorbaord, refer here https://github.com/zihaolucky/tensorboard-lite if you want, the code in master branch works same as the fun

[2017-09-18 14:19] samehraban commented on #42
Hi all,
I'm facing the same issue. Also, Python 3.5.

[2017-09-20 19:43] jimdowling commented on #39
We would love to be able to run Tensorboard with logs in HDFS. Currently, we have to copy logs from hdfs to local disk and then run Tensorboard.

[2017-09-25 07:42] arwer13 commented on #42
Hi, I'm having the same issue with python 3.4.3 on Ubuntu 14.04.5 LTS.
The trick supposed by @daxaxelrod helped, for me it's:

    python3 /usr/local/lib/python3.4/dist-packages/tensorboard/main.py --logdir=./logs

[2017-10-18 03:29] zuoanqh commented on #42
same issue, python3.5.4, tensorboard a6, WSL.

[2017-10-31 13:28] poem0207 commented on #52
same error

[2017-10-31 19:50] abhih1 commented on #30
@chaonan99  @zihaolucky Is this solved? I'm having the same trouble. Can you please give simple instructions to deal with this? Thanks!

[2017-11-01 11:33] zihaolucky commented on #52
@poem0207 Did you use the latest code in master?

[2017-11-06 06:29] bowcai opened #56 "Mac failed to build tensorboard (Duplicated key "define" when creating dictionary)"
I used Anaconda as my python environment and simply followed the instruction 'Prepare environment for Mac OS X'
Then,  I met error as follows
[code]
My system and other library is listed:
System: macOs Sierra 10.12.6
bazel 0.6.1;
protobuf 3.4.0

I wonder whether there is any problem on my tensorflow or bazel version.
Thank you for your time to read my experience.

[2017-11-07 02:32] zihaolucky commented on #56
I notice your working dir is `tensorboard-distro`, not this repo.

[2017-11-07 02:34] zihaolucky commented on #56
Try this:

[code]

[2017-11-07 03:10] bowcai commented on #56
Actually, I first try this repo *https://github.com/dmlc/tensorboard.git*, but failed with same error. Then, I used tensorboard-distro.
errors using repo dmlc/tensorboard, as follows:
[code]
I have tried to replace 'set' to 'depset', but I don't know how to tackle the error 'the duplicated key define' .

[2017-11-07 03:55] zihaolucky commented on #56
Could you provide more log for me? I've never met this before.

[code]

This is my bazel version.

[2017-11-07 05:03] bowcai commented on #56
Of course.
bazel version:
[code]

And the log error:
[code]
Thanks for your help.

[2017-11-07 06:37] zihaolucky commented on #56
@bowcai Did you use `--recursive` when cloning the code?

The format of configuration looks different with mine.

[2017-11-07 06:40] zihaolucky commented on #56
It should be

[code]

[2017-11-07 08:34] bowcai commented on #56
My fault. It seems that I used an out-of-date version.
Here is my installer.sh
[code]
I will to try to redo `git clone --recursive` , thank you

[2017-11-07 09:32] zihaolucky commented on #56
Yep. As we're going to have a major update recently, we changed the backend and added more features.

[2017-11-07 13:01] bowcai commented on #56
I get it. Thanks for your help.

[2017-11-07 13:01] #56 closed

[2017-11-09 01:27] Erotemic commented on #38
Not sure why this issue is closed. This issue effects me in python3.5 with virtualenv.

Note a more general fix would be to replace line 69 with

[code]

I would submit a PR, but having to go through legal hoops to do so really kills my motivation. I'm likely just not going to do it. So, perhaps someone who feels like filling out paperwork can patch this in.

In case it helps: I wave all rights to

[2017-11-09 02:01] zihaolucky commented on #38
@Erotemic Thanks for your contribution!

I suppose we've settled a new PyPI repo with TensorBoard dev team, as one of their team member reached me a couple weeks ago said we can use `dmlc-tensorboard`. The point is about the name of PyPI, not on the project or the scope we're going to do.

[2017-11-09 13:46] Erotemic commented on #38
Oh, I didn't realize this wasn't the official tensorboard. I'm currently using pytorch, so I find this project very useful.

[2017-12-11 08:05] JiamingSuen commented on #15
FYI: Met the same problem with custom built tensorboard wheel(since StringIO issue(#31) is still unfixed in 1.0.0a6). Fixed the same problem with https://github.com/dmlc/tensorboard/issues/15#issuecomment-277595345 .

[2017-12-12 01:40] zihaolucky commented on #15
@JiamingSuen Please build from source, as we haven't finished the latest PyPI currently.

[2017-12-14 15:21] lwilson commented on #42
It looks like the issue is related to finding the python executable in the wrapper script (`/usr/bin/tensorboard`, line 48):
[code]
On systems where there is a default python2 installation, this will load python2, even if you have python3 installed (often called python3).  When I print out `args` just before the `try` block on line 139 it returns:
[code]
If I alter line 48 to search for python3 (i

[2018-02-12 05:50] Davidrjx opened #57 "why pending at the time cloning tensorboard-lite?"
running `sh installer.sh` keeps pending, i do not know whether it is normal

[2018-02-13 06:27] zihaolucky commented on #57
`tensorboard-lite` is a submodule we need.  Could you provide more log for the coming problem?

[2018-02-15 08:55] cdancette opened #58 "Release date for tensorboard in pypi"
Hi,
Thanks for the amazing work,

Do you have an expected release date for this package in pypi ? It's hard to recommend this package to other people for now since it has to be built from source, which is not very easy.

[2018-02-23 02:49] Davidrjx commented on #38
is there a general solution for getsitepackages and getusersitepackages in tensorboard binary script ?

[2018-02-24 07:22] Davidrjx commented on #57
@zihaolucky
above problem has been ok, but when i run sh installer.sh , came with the following error
[code]

can you please help me analyze this issue?

[2018-03-05 01:23] arundasan91 commented on #46
@zihaolucky , Could you please guide me in the right direction on how to add the `step` param in `scalar` ? `Relative` mode is very bad as of now. Gives me very odd results in the training graph.
![screen shot 2018-03-04 at 7 20 45 pm](https://user-images.githubusercontent.com/14352842/36953547-4d61f368-1fe1-11e8-9e9f-49a9123a8b2b.jpg)

I am calling tensorboard op on every batch_end.
[code]
Tensor

[2018-03-05 06:48] zihaolucky commented on #46
Hi @arundasan91

The reason it looks ugly is we log train & valid/test data points with different time scale. You can write another callback function and pass the `step` explicitly.

[2018-03-05 12:30] arundasan91 commented on #46
Hi @zihaolucky, I was able to figure it out but forgot to update you. I passed the `params.epoch` to `global_steps` in tensorboard.py and it worked as intended. Thank you so much for the wonderful project!
Do you have any idea on why the `batch_end_caallback` gives discontinuous graphs? Some accuracy values are `nan` when I download the csv but prints out perfectly to shell while training.

[2018-04-23 06:01] edmBernard commented on #58
The Pypi repository is no longer this version of tensorboard : https://github.com/dmlc/tensorboard/issues/50

[2018-04-23 09:46] cdancette commented on #58
@zihaolucky I don't need another logger, I already use tensorboar dX (https://github.com/lanpa/tensorboard-pytorch). What I want is an alternative to tensorboard, because it has a tensorflow dependancy (and I don't want to make people install tensorflow just for drawing graphs).

Your package is also a logger, thus needs tensorboard and tensorflow.

[2018-04-23 09:59] zihaolucky commented on #58
Indeed, it's always our motivation and objective. We used to use Travis to build and publish the PyPI package, then it's super easy to use, but this solution takes too long to satisfy the Travis restriction in building time.

The maintenance of current solution still remains a problem as we have to include the TensorFlow/TensorBoard as submodule.

[2018-12-04 06:37] akhilesh-pandey opened #62 "Tensorboard SummaryWriter"
I am trying to run one code that I forked from [here](https://github.com/xmfbit/captcha-recognition). This uses tensorboard as given in the following line:
`logger = tensorboard.SummaryWriter('./log')`
This throws an error saying :

Any suggestions what should I do next?

[2018-12-06 08:11] zihaolucky commented on #62
@akhilesh-pandey I suggest https://github.com/awslabs/mxboard, the usage is quite similar. But make sure you have install mxboard or dmlc/tensorboard first.

[2018-12-20 06:52] #62 closed, assigned to nobody

[2019-02-01 08:45] murphypei commented on #15
Meet the same issue at the latest master branch.`tensorboard/python/tensorboard/src` is empty with only an empty` __init__.py` file

envs:
Ubuntu16.04
Python2.7
Bazel 0.6

[2019-08-10 21:57] antonysama opened #64 "proto file"
**The issue:**
I have been trying to run the "import tensorflow" command in python. But, that runs into an error stating that the command "couldn't build proto file into descriptor pool."

**The platform:**
Python 3.6.8, 64 bit, on pyenv virtual environment. Ubuntu 18.10.
CUDA 9.1 CUDNN 7.1

**Code:**
`conda create -n tf-n-gpu # other versions tested were: 2.0.0.a, 1.14. & 1.15

conda activate tf-